*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
}

header{
	width: 100%;
	height: 6rem;
	background-color: #555;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	padding: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mar{
	padding: 1rem;
	display: inline-block;
}

.content p{
	display: inline-block;
}

.container{
	padding: 1rem;
	margin: 0 auto;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper{
	margin-top: 2rem;
	border: 1px solid rgba(8,8,8,0.2);
	min-height: 14rem;
	min-width: 12rem;
}

.output{
	height: 10rem;
	width: 12rem;
	font-size: 4rem;
	padding: 0.5rem;
	color: #888;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background-color: #f4f4f4;
}

.wrapper .btn{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.btn button{
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
	background-color: transparent;
	outline: none;
  border: none;
  cursor: pointer;
}
.btn button:hover{
	opacity: 0.6;
}

.btn button:focus{
	border: 2px solid rgba(8,8,8,0.4);
}
.btn .one{
	background-color: green;
	color: #fff;
}

.btn .two{
	background-color: yellow;
	color: #000;
}

.btn .three{
	background-color: red;
	color: #fff;
}